<section id="registrationForm">
      
<form method="POST" action ="/customerRegistration">
    <h2>Create account</h2>
    <label for="firstName">First Name</label><br>  
    <input type="text" id="firstName" name="firstName"> <br>

    <label for="lastName">Last Name</label><br>    
    <input type="text" id="lastName" name="lastName"><br>

    <label for="email">Email</label><br>
    <input type="email" id="email" name="email"><br>

    <label for="password">Password</label><br>
    <input type="password" id="password" name="password" placeholder="At least 6 characters"><br>
    <label>Password must consist of at least 6 characters.</label><br>

    <label for="passwordAgain">Password Again</label><br>
    <input type="password" id="passwordAgain" name="passwordAgain"><br>
  
    <input type="submit" value="Create your Amazon account"><br>

    <label>Already have an account? <a href="login">Sign in</a></label>
</form>
</section>