<section id="loginForm">
      
<form method="POST" action ="/login">
    <h2>Sign-In</h2>
    <label for="email">Email</label><br>
    <input type="email" id="email" name="email" style="border-color: {{c.colorEmail}};"><br>
    <div class="errors">{{errorE}}</div>

    <label for="password">Password</label><br>
    <input type="password" id="password" name="password" style="border-color: {{c.colorPwd}};" placeholder="At least 6 characters"><br>
    <div class="errors">{{errorP}}</div>

    <label>Password must consist of at least 6 characters.</label><br>
 
    <input type="submit" value="Sign In"><br>

    <a href="">Need help?</a>
    <p>----------New to Amazon?----------</p>
    <input type="button" onclick="window.locatiton.href='customerRegistration';" value="Create your Amazon account">    
</form>
<div>
    
</div>
</section>