<div id="product-detail">
    <div id="image">
        <img src={{this.src}}>
    </div>
    <div id="detail">
        <div>{{this.name}}</div>
        <div>{{this.price}}</div>
        <div>{{this.desc}}</div>
        
    </div>

</div>